form {
  width: 100%;
  .form-container {
    display: flex;
    flex-wrap: wrap;
  }
}

mat-form-field {
  min-width: 350px;
  margin: 0 5rem;
}

.upload-field {
  min-width: 350px;
  margin: 0 5rem;
  border: 1px solid rgba($color: #000000, $alpha: .1);
  border-radius: 5px;
  padding: 1rem 0;
  
  button {
    margin: 1rem;
  }
  span {
    margin: 1rem;
  }
}
