////
/// @author Darwin Yo
////

/* #region Mina */

$mina-bold:( font-family: Mina,
font-style: normal,
font-weight: bold,
src: "../fonts/Mina/Mina-Bold.ttf");
$mina:( font-family: Mina,
font-style: normal,
font-weight: normal,
src: "../fonts/Mina/Mina-Regular.ttf");
/* #endregion */

/// List of typographies object that will be used in generating font face
$typographies : 
                $mina 
                $mina-bold;

/// Help to generate font faces by providing typography object list
/// @param {list} $typography-lists [$typographies] list of typography object
/// @todo write unit test
@mixin font-face($typography-lists:$typographies) {
  @each $typography in $typography-lists {
    @font-face {
      font-family: map-get($map:$typography, $key:font-family);
      font-style: map-get($map:$typography, $key: font-style);
      font-weight: map-get($map:$typography, $key: font-weight);
      src: map-get($map: $typography, $key: src);
    }
  }
}

@include font-face($typographies);
