////
/// @author Darwin Yo
////

/// Helper to css-grid Blame IE.
/// Used for map grid child.
/// @param {int} $col-start col start child css-grid
/// @param {int} $col-end col end child css-grid
/// @param {int} $row-start row start child css-grid
/// @param {int} $row-end row end child css-grid
/// @todo write unit test
@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-column: #{$col-start}/#{$col-end};
    grid-row: #{$row-start}/#{$row-end};
}
/// Helper to css-grid Blame IE.
/// Used for map grid child.
/// @param {list} $col-template col template css-grid
/// @example
///     $col-template: 1fr 2fr 3fr
/// @todo write unit test
@mixin grid-template-col ($col-template) {
    -ms-grid-columns: $col-template;
    grid-template-columns: $col-template;
}
/// Helper to css-grid Blame IE.
/// display grid.
@mixin display-grid {
    display: -ms-grid;
    display: grid;
}