.main-action {
  margin: 1rem 2rem;
}

.selector {
  min-width: 350px;
  padding: 1rem;
}

.btn-right {
  display: flex;
  justify-content: center;
  align-items: center;

  .edit-province {
    margin-top: 15%;
  }
}

table {
  width: 60%;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

mat-form-field {
  min-width: 250px;
  margin: 0 2rem;;
}

.select-button-container {
  min-width: 150px;
  padding-top: 12px;
  .action-btn {
    height: 100%;
  }
}
