<div class="header-container">
  <div class="title">Dashboard Material</div>
</div>
<div class="action-btn-container main-action">
  <button routerLink="global-material" class="action-btn">
    Manage Global Material
  </button>
  <button routerLink="manage-type" class="action-btn">
    Manage Type And SubType
  </button>
</div>
<div class="table-container">
  <div class="header-container">
    <div class="title">
      Manage Global Price
    </div>
  </div>
  <form [formGroup]="editGlobalForm" (submit)="editGlobalPrice()">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Select Material Sub Type</mat-label>
        <mat-select formControlName="subtype" name="subtype" required>
          <mat-option
            *ngFor="let subtype of subtypes$ | async"
            [value]="subtype"
          >
            {{ subtype.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="select-button-container">
        <button type="submit" class="action-btn">Edit Global Price</button>
      </div>
    </div>
  </form>
</div>
<div class="select-container table-container">
  <div class="header-container">
    <div class="title">
      Manage Province Price
    </div>
  </div>
  <form [formGroup]="editProvinceForm" (submit)="editProvince()">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Select Province</mat-label>
        <mat-select formControlName="location" name="location" required>
          <mat-option
            *ngFor="let location of locations$ | async"
            [value]="location"
          >
            {{ location.provinceName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Select Material Sub Type</mat-label>
        <mat-select formControlName="subtype" name="subtype" required>
          <mat-option
            *ngFor="let subtype of subtypes$ | async"
            [value]="subtype"
          >
            {{ subtype.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="select-button-container">
        <button type="submit" class="action-btn">Edit Province Price</button>
      </div>
    </div>
  </form>
</div>
