<div class="header-container">
  <div class="title">Manage Partner Accounts</div>
  <div class="action-btn-container">
    <a href="#">
      <button class="action-btn">Add new partner</button>
    </a>
  </div>
</div>
<div class="table-container">
  <table class="table">
    <tr>
      <th>User Id</th>
      <th>Username</th>
      <th>Active</th>
      <th>Role</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>f9f67c72-5201-4b14-88aa-b01af4f2deba</td>
      <td>darwinyo</td>
      <td>Active</td>
      <td>Recycler</td>
      <td>darwinyo@gmail.com</td>
      <td>+62 888 8888 8888</td>
      <td>
        <a href="#">
          <button class="action-btn">Manage</button>
        </a>
      </td>
    </tr>
  </table>
</div>
