<form>
  <div class="header-container">
    <div class="title">Add User Accounts</div>
    <div class="action-btn-container">
      <a href="#">
        <button class="action-btn">Apply</button>
      </a>
    </div>
  </div>

  <div class="page-detail-container">
    <label for="image-upload" class="logo">
      <img class="logo" src="../../../../assets/img/change_image.png" alt="" />
      <input type="file" id="image-upload" />
    </label>
    <div class="detail-container">
      <div class="detail input-container">
        <div class="key">First name</div>

        <div class="textbox">
          <input type="text" name="" value="" id="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">Surname</div>

        <div class="textbox">
          <input type="text" name="" value="" id="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">Email</div>

        <div class="textbox">
          <input type="email" name="" value="" id="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">Mobile phone</div>

        <div class="textbox">
          <input type="tel" name="" value="" id="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">Gender</div>
        <select class="options">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="detail input-container">
        <div class="key">Birthdate</div>

        <div class="textbox">
          <input type="date" value="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">Join date</div>

        <div class="textbox">
          <input type="date" value="" />
        </div>
      </div>
    </div>
    <div class="detail-container">
      <div class="detail">
        <div class="key">Status</div>
        <select class="options">
          <option value="Active">Active</option>
          <option value="Banned">Banned</option>
        </select>
      </div>
      <div class="detail">
        <div class="key">Nationality</div>
        <select class="options">
          <option value="Indonesia">Indonesia</option>
          <option value="America">America</option>
          <option value="China">China</option>
        </select>
      </div>
      <div class="detail input-container">
        <div class="key">IC Number</div>

        <div class="textbox">
          <input type="text" name="" value="" id="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">IC Exp Date</div>

        <div class="textbox">
          <input type="date" value="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">TIN</div>

        <div class="textbox">
          <input type="text" name="" value="" id="" />
        </div>
      </div>
      <div class="detail input-container">
        <div class="key">TIN Exp Date</div>

        <div class="textbox">
          <input type="date" value="" />
        </div>
      </div>
    </div>
  </div>
  <div class="attachment-container">
    <div class="title">Attachments</div>
    <div class="attachment">
      Identity Card
    </div>
    <input type="file" name="" id="" class="attachment-input" />
    <div href="#" class="attachment">
      Tax Identification Number
    </div>
    <input type="file" name="" id="" class="attachment-input" />
  </div>
</form>
