<h1 mat-dialog-title>Edit {{data.priceType.name}}</h1>
<div mat-dialog-content>
  <form [formGroup]="newPriceForm" (submit)="apply()">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>New Price</mat-label>
        <input type="number" formControlName="newPrice" required matInput />
      </mat-form-field>
      <mat-checkbox formControlName="overwrite">Override CSR Prices</mat-checkbox>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-action">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="apply()" cdkFocusInitial>Apply</button>
</div>
