form {
  width: 350px;
  .form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

mat-form-field {
  min-width: 250px;
  margin: 1rem 3rem;
}

span {
  padding: 1rem;
}

.dialog-action {
  display: flex;
  justify-content: flex-end;
}
