<div class="header-container">
  <div class="title">Edit Sub Type</div>
</div>
<div class="page-detail-container">
  <form [formGroup]="editSubTypeForm" (submit)="save()">
    <div class="header-action">
      <div class="action-btn-container">
        <button (click)="cancel()" type="button" class="cancel-btn">
          Cancel
        </button>
        <button type="submit" class="action-btn">Save</button>
      </div>
    </div>
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Sub Type Name</mat-label>
        <input type="text" required matInput formControlName="name" />
      </mat-form-field>

      <div class="upload-field">
        <span>Upload Sub Type image:</span>
        <input
          #image
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="imageChange($event)"
          accept="image/png, image/jpeg"
        />
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="image.click()"
        >
          Choose Image
        </button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          required
          matInput
          cols="30"
          rows="5"
        ></textarea>
      </mat-form-field>
    </div>
    <!-- <div>
      <div class="header-container">
        <div class="title">Sub Type Price</div>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>TrashPreneur Price</mat-label>
        <input type="number" required matInput formControlName="tpprice" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>MP Price</mat-label>
        <input type="number" required matInput formControlName="mpprice" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>MCP Price</mat-label>
        <input type="number" required matInput formControlName="mcpprice" />
      </mat-form-field>
    </div> -->
  </form>
</div>
