<div class="header-container">
  <div class="title">Add Material Option</div>
</div>
<div class="page-detail-container">
  <form [formGroup]="optionForm" (submit)="save()">
    <div class="header-action">
      <div class="action-btn-container">
        <button (click)="cancel()" type="button" class="cancel-btn">
          Cancel
        </button>
        <button type="submit" class="action-btn">Save</button>
      </div>
    </div>
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Option Name</mat-label>
        <input type="text" required matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Option Sub Type</mat-label>
        <!-- <mat-select
          formControlName="catalogSubType"
          name="subtype"
          required
          [(value)]="selectedSubtype"
        > -->
        <mat-select
          name="subtype"
          required
          [(value)]="selectedSubtype"
        >
          <mat-option
            *ngFor="let subtype of subtypes$ | async"
            [value]="subtype"
          >
            {{ subtype.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Weight in grams</mat-label>
        <input type="number" formControlName="weightInGram" required matInput />
        <mat-hint
          *ngIf="
            optionForm.get('weightInGram').invalid &&
            optionForm.get('weightInGram').touched
          "
          align="end"
          >Numbers only</mat-hint
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Quantifier</mat-label>
        <input
          type="text"
          formControlName="quantifier"
          required
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let quantifier of quantifiers"
            [value]="quantifier"
            >{{ quantifier }}</mat-option
          >
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          required
          matInput
          cols="30"
          rows="5"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>CSR / Subsidies (%)</mat-label>
        <input type="number" formControlName="csr" matInput min="0" required />
        <mat-hint
          *ngIf="optionForm.get('csr').invalid && optionForm.get('csr').touched"
          align="end"
          >Numbers or Zero only</mat-hint
        >
      </mat-form-field>

      <div class="upload-field">
        <span>Upload Option image:</span>
        <input
          #image
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="imageChange($event)"
          accept="image/png, image/jpeg"
        />
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="image.click()"
        >
          Choose Image
        </button>
      </div>
    </div>
  </form>
</div>
<div class="table-container" *ngIf="selectedSubtype">
  <div class="header-container">
    <div class="title">
      Prices
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Price per Quantity</th>
      <th *ngIf="optionForm.value.csr">Subsidied</th>
      <th>Price Type</th>
      <th>Location</th>
    </tr>
    <tr *ngFor="let price of selectedSubtype.catalogPrices">
      <td>{{ price.pricePerUnit }}</td>
      <td *ngIf="optionForm.value.csr">
        {{ getSubsidied(price.pricePerUnit) }}
      </td>
      <td>{{ price.priceType.name }}</td>
      <td>{{ price.location.provinceName }}</td>
    </tr>
  </table>
</div>
