<h1 mat-dialog-title> Are you sure?</h1>
<mat-dialog-content>this action cannot be undone</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close="delete" color="primary">Confirm Delete</button>
</mat-dialog-actions>