<div class="header-container header-title">
  <div class="title">Edit Global Material</div>
</div>
<div class="page-detail-container">
  <form [formGroup]="materialForm" (submit)="save()">
    <div class="header-action">
      <div class="action-btn-container">
        <button (click)="cancel()" type="button" class="action-btn">
          Back
        </button>
        <button type="submit" class="action-btn">Save</button>
      </div>
    </div>
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Option Name</mat-label>
        <input
          type="text"
          required
          matInput
          formControlName="name"
          placeholder="this"
        />
      </mat-form-field>

      <div class="upload-field">
        <span>Upload Option image:</span>
        <input
          #image
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="imageChange($event)"
          accept="image/png, image/jpeg"
        />
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="image.click()"
        >
          Choose Image
        </button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          required
          formControlName="description"
          matInput
          cols="30"
          rows="2"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Override CSR / Subsidies (%)</mat-label>
        <input type="number" formControlName="csr" matInput min="0" />
        <mat-hint
          *ngIf="
            materialForm.get('csr').invalid && materialForm.get('csr').touched
          "
          align="end"
          >Numbers or Zero only</mat-hint
        >
      </mat-form-field>
    </div>
  </form>
</div>
<div class="table-container">
  <div class="header-container">
    <div class="title">
      Material Option
    </div>
    <div class="action-btn-container">
      <button (click)="addOption()" class="action-btn">Add</button>
    </div>
  </div>
  <table class="table" *ngIf="options$">
    <tr>
      <th>Option Name</th>
      <th>Quantifier</th>
      <th>CSR</th>
      <!-- <th>tpprice</th>
      <th>mpprice</th>
      <th>mcpprice</th> -->
      <th></th>
    </tr>
    <tr *ngFor="let option of options$ | async">
      <td>{{ option.name }}</td>
      <td>{{ option.quantifier }}</td>
      <td>{{ option.csr }}</td>
      <!-- <td>{{ getTpPrice(option) }}</td>
      <td>{{ getMpPrice(option) }}</td>
      <td>{{ getMcpPrice(option) }}</td> -->
      <td>
        <button (click)="editOption(option)" class="action-btn">
          Edit
        </button>
        <button (click)="deleteOption(option)" class="action-btn">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
