<div class="header-container header-title">
  <div class="title">Edit Global Price</div>
  <div class="action-btn-container">
    <button (click)="save()" class="action-btn">Back</button>
  </div>
</div>
<div class="table-container">
  <div class="header-container">
    <div class="title">
      Update Global Prices
    </div>
  </div>
  <div class="sub-title">
    <span><strong>Material Subtype:</strong> {{ selectedSubtype.name }}</span>
  </div>
  <table class="table">
    <tr>
      <th>Price Type</th>
      <th></th>
    </tr>
    <tr>
      <td>tpprice</td>
      <td>
        <button
          class="action-btn"
          (click)="editPriceDialog({ priceType: { id: 1, name: 'tpprice' } })"
        >
          Edit
        </button>
      </td>
    </tr>
    <tr>
      <td>mpprice</td>
      <td>
        <button class="action-btn" (click)="editPriceDialog({ priceType: { id: 2, name: 'mpprice' } })">Edit</button>
      </td>
    </tr>
    <tr>
      <td>mcpprice</td>
      <td>
        <button class="action-btn" (click)="editPriceDialog({ priceType: { id: 3, name: 'mcpprice' } })">Edit</button>
      </td>
    </tr>
  </table>
</div>

<div class="table-container" *ngIf="prices$">
  <div class="header-container">
    <div class="title">
      Current Prices
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Price per Quantity</th>
      <th>Price Type</th>
      <th>Location</th>
    </tr>
    <tr *ngFor="let price of prices$ | async">
      <td>{{ price.pricePerUnit }}</td>
      <td>{{ price.priceType.name }}</td>
      <td>{{ price.location.provinceName }}</td>
    </tr>
  </table>
</div>
