.admin-layout{
    background-color: #F2F2F2;
    color: black;
    display: grid;
    font-family: Mina;
    padding:0 !important;
    grid-template-columns: 1fr 4fr;
    overflow: auto;
    min-height: 100vh;
    & .sidebar-container{
        background-color: #4D0600 !important;
    }
    & .action-btn{
        background-color: #880B00 !important;
        &--option{
            background-color: rgba($color: #880B00, $alpha: 0.7);
        }
    }
    & .user-container,
    & .location-selector,
    & .date-selector{
        background: #880B00 !important ;
    }

}