.auth-layout{
    background-color: #F2F2F2;
    color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Mina;
}
.auth-container{
    max-width: 450px;
    &__logo{
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__box{
        background-color: rgba($color: white, $alpha: 0.7);
        border-radius: 10px;
        color: #000000;
        padding: 1.5rem 50px;
        text-align: center;
        opacity: 0.8;
        &>.title{
            font-size: 1.5rem;
            font-weight: bold;
            color: rgba($color: #000000, $alpha: 0.7);
        }
        &>.message{
            padding-bottom: 1.5rem;
        }
        &>hr{
            color: #707070;
            opacity: .1;
            margin: 1.5rem 0;
        }
        & .input-container{
            &>.textbox{
                text-align: center;
            }
            &>.forget-password{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 1rem;
            }
        }
        & .action-btn{
            width: 100%;
            border-radius: 10px;
            padding: .6rem;
            font-size: 1rem;
            font-family: Mina;
            background-color: $primary-color;
            color: white;
            border: none;
            margin-bottom: 1rem;
            cursor: pointer;
            &--option{
                background-color: rgba($color: #000000, $alpha: 0.7);
            }
        }
        &>.option-text{
            text-align: left;
            &>a{
                text-decoration: underline;
            }
        }
        &>.title-secondary{
            font-weight: bold;
            margin: 1rem 0;
        }
        &>.ext-logo-container{
            & .ext-logo{
                max-width: 25px;
                max-height: 25px;
                background: white;
                border: 1px solid rgba($color: #000000, $alpha: 0.3);
                border-radius: 10rem;
                padding: 0.3rem;
                margin: 0 .5rem;
            }
        }
    }
    &__footer{
        display: flex;
        margin: 1rem 0;
        justify-content: space-between;
        align-items: center;
        &> .menu-container{
            display: flex;
            &> .menu{
                padding: 0 0 0 1.5rem;
            }
        }
    }
}