.mini-chart,.table-chart{
    &__container{
        margin: 5px;
    }
    &__header{
        display: flex;
        margin-bottom: 4rem;
        justify-content: space-between;
    }
    &__title{
        font-size: 1.2rem;
        font-weight: bold;
    }
}
.chart-row{
    display: flex;
}