@import './partner.scss';
@import './admin.scss';
@import './auth.scss';
@import './wallet.scss';
@import './footer.scss';
@import './navbar.scss';
@import './sidebar.scss';
@import './portal.scss';
@import './facade.scss';
@import './page.scss';
@import './pin.scss';
@import './pop-up.scss';
@import './error.scss';
@import './chart.scss';


.action-btn{
  background: rgba($color: #000000, $alpha: 0.7);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: .8rem;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
  &:hover{
      opacity: 0.7;
      background-color: rgba($color: #000000, $alpha: 0.7);
  }
}

.layout{
  padding: 1rem;
}

a{
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    opacity: 0.7;
    color: rgba($color: $primary-color, $alpha: 0.7);
  }
}
.input-container{

  &>.key{

  }
  &>.textbox{
      background-color: white;
      opacity: 0.5;
      border: 1px solid rgba($color: #000000, $alpha: 0.5);
      border-radius: 10px;
      min-width: 100%;
      margin: 1rem 0;
      padding: 0.8rem 0;
      display: flex;
      justify-content: center;
      &>input{
        margin: 0 1rem;
        font-size: 1rem;
        border: none;
        width: 100%;
        border: none;
      }
      
      &>textarea{
        border: none;
      }
  }
  &>.selector{
    margin: 0;
    padding: 0.8rem 0;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    min-width: 100%;
  }
}
.date-selector{
  padding: .5rem;
  border-radius: 10px;
  border: none;
  background-color:  #009688;
  color: white;
}
.location-selector{
  padding: 0.2rem 1rem;
  border-radius: 10px;
  border: none;
  background-color:  #009688;
  color: white;
  
  opacity: 1;
}
select{
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: Mina;
  opacity: .7;
  padding: 0 1rem;
}
.text-error{
  font-size: 12px;
  color: rgba($color: #FF0000, $alpha: 0.7);
  width: 100%;
  text-align: start;
  margin-bottom: 1rem;
}
.text-error-summary{
  color: rgba($color: #FF0000, $alpha: 0.7);
  width: 100%;
  margin-bottom: 2rem;
}
router-outlet{
  display: none;
}

table {
  width: 100%;
}
