%action-title{
    & .header-container{
        display: flex;
        align-items: center;
        &>.title{
            font-weight: bold;
        }
        &>.action-btn-container{
            margin-left: 3rem;
        }
    }
}

.page-container{
    padding: 4rem;
    @extend %action-title;
    & .header-container{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        &>.title{
            font-size: 2rem;
        }
        &>.timestamp{
            padding-left: 3rem;
        }
        &>.source{
            width: 100%;
            padding-top: 1rem;
        }
    }
    & .page-detail-container{
        display: flex;
        flex-wrap: wrap;

        @extend %action-title;
        
        & .header-container{
            width: 100%;
            &>.title{
                font-size: 1.5rem;
            }
        }
        & .logo{
            max-width: 250px;
            max-height: 250px;
            border-radius: 300px;
            margin-right: 4rem;
            min-width: 250px;
            min-height: 250px;
            &:hover{
                opacity: .8;
                cursor: pointer;
            }
            & img{
                margin:0 auto;
            }
            & input{
                display: none;
            }
        }
        & .no-side-padding{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        &>.detail-container{
            padding: 1rem;
            &>.detail{
                padding: 0.5rem 1.5rem;
                max-width: 500px;
                &>.key{
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                &>.value{
                    opacity: .5;
                }
                &>.textbox{
                    background-color: white;
                    opacity: 0.5;
                    border: 1px solid rgba($color: #000000, $alpha: 0.5);
                    border-radius: 10px;
                    font-size: 1rem;
                    padding: 1rem 0;
                    text-align: center;
                    min-width: 350px;
                    margin: 0px !important;
                }
                &>.options{
                    border: 1px solid rgba($color: #000000, $alpha: 0.5);
                    padding: 0.7rem 0;
                    min-width: 350px;
                    text-align: center;
                }
            }
        }
    }
    & .table-container{
        @extend %action-title;
        &>.header-container{
            &>.title{
                font-size: 1.5rem;
            }
        }
        padding-bottom: 2rem;
        &>.table{
            text-align: left;
            & th{
               font-weight: bold;
               padding: 1rem 3rem 1rem 0;
            }
            & td{
                padding: 0.5rem 2rem 0.5rem 0;
                & img{
                    max-width: 25px;
                    max-height: 25px;
                }
                &.center{
                    text-align: center;
                }
                & input{
                    border-radius: 1rem;
                }
                &.debit{
                    color: rgba($color: #009688, $alpha: 0.7);
                }
                &.credit{
                    color: rgba($color: #FF0000, $alpha: 0.7);
                }
            }
            & tfoot{
                border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
                font-weight: bold;
            }

        }
    }
    & .flex-kv-container{
        @extend %action-title;
        &>.header-container{
            &>.title{
                font-size: 1.5rem;
            }
        }
        padding-bottom: 2rem;
        &>.flex-container{
            width: 100%;
            display: flex;
            padding-top: 1.5rem;
            &>.flex-col{
                width: 50%;
                &>.row{
                    display: flex;
                    padding: 1rem 0.5rem 0.5rem 0rem;
                    width: 100%;
                    justify-content: space-between;
                    &>.key{
                        font-weight: bold;
                    }
                    &>.value{
                        padding-right: 3rem;
                    }
                }

            }
        }
    }
    & .io-indicator-container{
        @extend %action-title;
        &>.header-container{
            &>.title{
                font-size: 1.5rem;
            }
        }
        padding-bottom: 2rem;
        &>.container{
            margin-top: 1rem;
            &>.row{
                display: grid;
                padding: 1rem 0.5rem 0.5rem 0rem;
                width: 100%;
                grid-template-columns: 1fr 3fr 1fr;
                &>.key{
                    font-weight: bold;
                }
                &>.indicator{
                  display: flex;
                  align-items: center;
                  width: 100%;
                }
                &>.value{
                    padding: 0 3rem;
                }
            }
        }
    }
}
