.popup-layout{
    background: white;
    max-width: 1000px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5rem;
    font-family: Mina;
    padding: 1.5rem;
    position: relative !important;
    @extend %inverse-iconmenu;
    & .mat-dialog-container{
        padding: 0;
        background: none;
        box-shadow: none;
    }
    & .title{
        text-align: center;
        font-weight: bold;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    & .sub-title{
        padding-top: 1rem;
        text-align: center;
    }
    
    & .full-action-btn{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $primary-color;
        color: white;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}