.sidebar-container{
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.7);
    color: white;
    min-height: 100vh;
    height: 100%;
    position: relative;
    // padding-bottom: 110px;
    &__logo{
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 3rem;
    }
    &>.user-container{
        background: #000000;
        padding: 1.5rem 2.5rem;
        &>.username{
            padding-bottom: 1.5rem;
        }
        &>.role{
            opacity: 0.7;
        }
    }
    &>.wallet{
        background: rgba($color: #000000, $alpha: 0.7);
        padding: 1.5rem 2.5rem;
        display: flex;
        justify-content: space-between;
        &>.title{
            font-weight: bold;
        }
        &>.amount{

        }
    }
    &>.menu-container{
        padding-top: 1rem;
        padding-bottom: 110px;
        &>.menu{
            display: flex;
            align-items: center;
            padding: 0.8rem 2.5rem;
            background: none;
            border: none;
            cursor: pointer;
            font-family: Mina;
            font-size: 1rem;
            &:hover{
                opacity: 0.7;
                background-color: rgba($color: #000000, $alpha: 0.7);
            }
            &>.icon{
                max-width: 25px;
                max-height: 25px;
                background: white;
                border: 1px solid rgba($color: #000000, $alpha: 0.3);
                border-radius: 10rem;
                padding: 0.3rem;
            }
            &>.icon-name{
                padding-left: 2rem;
                color: white;
            }
        }
    }

    &>.footer-container{
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #4D0600;
        padding-top: 10px;
        &>.version{
            margin: 0 2.5rem;
            padding: 1rem 0;
        }
        &>.language-selector{
            margin: 0 2.5rem;
        }
    }
}
