%content-container{
    background: rgba($color: white, $alpha: 0.7);
    color: black;
    margin-top: 1rem;
    border-radius: 10px;
    & .title{
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
}
%inverse-iconmenu{
  & .menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    width: 100%;
    &>.icon-name{
        padding-top: 0.5rem;
        color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        text-align: center;
    }
    &>.icon{
        border-radius: 4rem;
        width: 4rem;
        height: 4rem;
        background-color: rgba($color: #000000, $alpha: 0.5);;   
    }
  }
}
.wallet-layout{
    background-color: #F2F2F2;
    color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Mina;
    @extend %inverse-iconmenu;
    & .menu{
        &>.icon{
            background-color: white;
        }
        &>.icon-name{
            color: white;
        }
    }
}
.wallet-container{
    max-width: 450px;
    & .action-btn{
        background-color: #009688 !important;
        &--option{
            background-color: rgba($color: #009688, $alpha: 0.7);
        }
    }
    &__header{
        & a{
            position: absolute;
            left: 0;
        }
        & .material-icons{
            font-size: 40px;
        }
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__body{
        &>.menu-container{
            height: 170px;
            width: 100%;
            background-image: linear-gradient(#009688 ,#004B44);
            border-radius: 10px;
            &>.header{
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                align-items: center;
                &>.title{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                &>.balance{
                    font-weight: bold;
                }
            }
            &>.content{
                display: flex;
                justify-content: space-between;
            }
        }
        & .content-container{
            padding: 2rem;
            @extend %content-container;
            @extend %inverse-iconmenu;
            & .action-btn{
                border-radius: 10px;
                padding: .5rem 1.2rem;
                font-size: 1rem;
                font-family: Mina;
                background-color: $primary-color;
                color: white;
                border: none;
                margin-bottom: 1rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & .action-container{
                display: flex;
                justify-content: flex-end;
            }
            & .footer{
                display: flex;
                justify-content: center;
                font-size: 0.75rem;
                padding-top: 1rem;
                &> a{
                    padding-left: 0.3rem;
                }
            }
            & .description{
                margin-bottom: 1rem;
                font-weight: bold;
                line-height: 1.5rem;
                display: grid;
                grid-template-columns: 1fr 10fr;
                & .note{
                    font-weight: normal;
                }
            }
            & .bank-row{
                background: rgba($color: white, $alpha: 0.5);
                display: grid;
                padding: 1rem;
                border-radius: 10px;
                grid-template-columns: 4fr 1fr;;
                margin-bottom: 1rem;
                &>.detail{
                    display: flex;
                    flex-wrap: wrap;
                    &>.title{
                        font-weight: bold;
                        width: 100%;
                        padding-bottom: 1rem;
                        margin-bottom: 0;
                    }
                    &>.owner{
                        width: 50%;
                    }
                    &>.account{
                        width: 50%;
                    }
                }
                &>.action-container{
                    display: flex;
                    justify-content: space-evenly;
                    &>.action-logo{
                        cursor: pointer;
                    }
                }
            }
        }

        & .history-container{
            @extend %content-container;
            &>.title{
                padding: 2rem 2rem 0 2rem;
            }
            &>.history-row{
                &>.history-date{
                    padding: 0.3rem 2rem;
                    color: white;
                    background: rgba($color: #000000, $alpha: 0.3);
                }
                &>.history{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    &>.label{
                        padding-top: 1rem;
                        padding-left: 2rem;
                        font-weight: bold;
                    }
                    &>.amount{
                        padding-top: 1rem;
                        padding-right: 2rem;
                        font-weight: bold;
                    }
                    &>.description{
                        padding: 0.5rem 2rem;
                        width: 100%;
                        font-size: 0.75rem;
                    }
                    & hr{
                        width: 100%;
                        opacity: 0.2;
                    }
                }
            }
            &>.history-date{
                background: rgba($color: #000000, $alpha: 0.3);
            }
        }
    }
    &__logo{
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &__footer{
        display: flex;
        margin: 1rem 0;
        justify-content: space-between;
        align-items: center;
        &> .menu-container{
            display: flex;
            &> .menu{
                padding: 0 0 0 1.5rem;
            }
        }
    }
}
.menu-layout{
    position: absolute !important;
    top: 300px;
    font-family: Mina;
    & .mat-dialog-container{
        padding: 0px;
    }
    & .menu-container{
        width: 450px;
        background-color:white;
        display: flex;
        padding: 1rem 0;
        border-radius: 10px;
        margin: auto;
        @extend %inverse-iconmenu;
    }
}
