<div class="header-container header-title">
  <div class="title">Add Type</div>
</div>
<div class="page-detail-container">
  <form [formGroup]="addTypeForm" (submit)="save()">
    <div class="header-action">
      <div class="action-btn-container">
        <button (click)="cancel()" type="button" class="cancel-btn">
          Cancel
        </button>
        <button type="submit" class="action-btn">Save</button>
      </div>
    </div>
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Type Name</mat-label>
        <input type="text" required matInput formControlName="name" />
      </mat-form-field>

      <div class="upload-field">
        <span>Upload Type image:</span>
        <input
          #image
          hidden="true"
          type="file"
          onclick="this.value=null"
          (change)="imageChange($event)"
          accept="image/png, image/jpeg"
        />
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="image.click()"
        >
          Choose Image
        </button>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          required
          matInput
          cols="30"
          rows="5"
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="table-container">
  <div class="header-container">
    <div class="title">
      SubTypes
    </div>
    <div class="action-btn-container">
      <button (click)="addSubtype()" class="action-btn">Add SubType</button>
    </div>
  </div>
  <table class="table" *ngIf="subTypes$">
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <tr *ngFor="let subType of subTypes$ | async">
      <td>{{subType.name}}</td>
      <td>
        <button (click)="editSubType(subType)" class="action-btn">
          Edit
        </button>
        <button (click)="deleteSubType(subType)" class="action-btn">
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>

