.sidebar-mobile-helper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0;
  mat-icon {
    margin: 0 1rem;
  }
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #880b00;
  z-index: 99;
  padding: 0.5rem 0;
  mat-icon {
    margin: 0 1rem;
  }
  img {
    max-height: 25px;
  }
}
