<div class="layout admin-layout">
  <!-- sidebar -->
  <div class="sidebar-container" *ngIf="sidenavOpen">
    <div class="sidebar-mobile-helper" *ngIf="mobileHelper">
      <a (click)="sidenavOpen = !sidenavOpen">
        <mat-icon>menu</mat-icon>
      </a>
    </div>
    <img
      src="../../assets/img/logo.png"
      alt=""
      class="sidebar-container__logo"
    />
    <div class="user-container">
      <div class="username">Darwin Yo</div>
      <div class="role">Super Admin</div>
    </div>
    <div class="wallet">
      <div class="title">Account</div>
      <div class="amount">Rp 5.000.000</div>
    </div>
    <div class="menu-container">
      <a routerLink="/dashboard" class="menu">
        <img
          class="icon"
          src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
          alt=""
        />
        <div class="icon-name">Portal Dashboard</div>
      </a>
      <a routerLink="/dashboard/manage-partner-accounts" class="menu">
        <img
          class="icon"
          src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
          alt=""
        />
        <div class="icon-name">Manage Partner Accounts</div>
      </a>
      <a routerLink="/dashboard/add-user-account" class="menu">
        <img
          class="icon"
          src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
          alt=""
        />
        <div class="icon-name">Manage User Accounts</div>
      </a>
      <a routerLink="/dashboard/manage-internal-account" class="menu">
        <img
          class="icon"
          src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
          alt=""
        />
        <div class="icon-name">Manage Internal Accounts</div>
      </a>
      <a routerLink="/dashboard" class="menu">
        <img
          class="icon"
          src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
          alt=""
        />
        <div class="icon-name">Manage Account</div>
      </a>
      <a routerLink="/login" class="menu">
        <img
          class="icon"
          src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
          alt=""
        />
        <div class="icon-name">Sign out</div>
      </a>
    </div>
    <div class="footer-container">
      <select class="language-selector">
        <option value="English">English</option>
        <option value="Indonesia">Indonesia</option>
      </select>
      <div class="version">
        App Version :100719-v1
      </div>
    </div>
  </div>
  <div class="page-container">
    <div class="top-nav" *ngIf="!sidenavOpen">
      <a (click)="sidenavOpen = !sidenavOpen">
        <mat-icon>menu</mat-icon>
      </a>
      <img src="../../assets/img/logo.png" alt="mountrash" />
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
