.sub-title {
  margin: 1rem;
  strong {
    margin: 1rem;
    font-weight: bold;
  }
}
.selector {
  min-width: 350px;
}
table {
  width: 50%;
}

mat-form-field {
  min-width: 250px;
  margin: 2rem 3rem;
}
