<div class="header-container header-title">
  <div class="title">Edit Province Price</div>
  <div class="action-btn-container">
    <!-- <button (click)="cancel()" class="cancel-btn">Cancel</button> -->
    <button (click)="save()" class="action-btn">back</button>
  </div>
</div>
<div class="sub-title">
  <span><strong>Province:</strong> {{ catalogLocation.provinceName }}</span>
</div>
<div class="sub-title">
  <span><strong>Material Subtype:</strong> {{selectedSubtype.name}}</span>
</div>
<div class="page-detail-container">
  <!-- <mat-form-field appearance="outline">
    <mat-label>Option Sub Type</mat-label>
    <mat-select name="subtype" required [(value)]="selectedSubtype">
      <mat-option *ngFor="let subtype of subtypes$ | async" [value]="subtype">
        {{ subtype.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
<div class="table-container" *ngIf="prices$">
  <div class="header-container">
    <div class="title">
      Prices
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Price per Quantity</th>
      <th>Price Type</th>
      <th></th>
    </tr>
    <tr *ngFor="let price of prices$ | async">
      <td>{{ price.pricePerUnit }}</td>
      <td>{{ price.priceType.name }}</td>
      <td>
        <button (click)="editPriceDialog(price)" class="action-btn">
          Edit
        </button>
      </td>
    </tr>
  </table>
</div>
