<div class="header-container">
  <div class="title">Add Global Material</div>
  <div class="action-btn-container">
    <button class="action-btn">Apply</button>
  </div>
</div>
<div class="page-detail-container">
  <div class="detail-container no-side-padding">
    <div class="detail input-container">
      <div class="key">Material Name</div>

      <div class="textbox">
        <input type="text" name="" value="" id="" />
      </div>
    </div>
    <div class="detail input-container">
      <div class="key">Material Type</div>

      <select class="selector">
        <option value="Plastic">Plastic</option>
        <option value="Paper">Paper</option>
      </select>
    </div>
  </div>
  <div class="detail-container">
    <div class="detail input-container">
      <div class="key">Quantifier</div>

      <div class="textbox">
        <input type="text" name="" value="" id="" />
      </div>
    </div>
    <div class="detail input-container">
      <div class="key">Description</div>

      <div class="textbox">
        <textarea rows="4" cols="50"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="table-container">
  <div class="header-container">
    <div class="title">
      Price List
    </div>
    <div class="action-btn-container">
      <a href="#">
        <button class="action-btn">Add</button>
      </a>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Price per quantity</th>
      <th>Price Type</th>
      <th></th>
    </tr>
    <tr>
      <td>100</td>
      <td>tpprice</td>
      <td>
        <a href="#">
          <button class="action-btn">Edit</button>
        </a>
        <a href="#">
          <button class="action-btn">Delete</button>
        </a>
      </td>
    </tr>
    <tr>
      <td>150</td>
      <td>mpprice</td>
      <td>
        <a href="#">
          <button class="action-btn">Edit</button>
        </a>
        <a href="#">
          <button class="action-btn">Delete</button>
        </a>
      </td>
    </tr>
  </table>
</div>
