// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mountrash-red: (
  50: #880b00,
  100: #880b00,
  200: #880b00,
  300: #880b00,
  400: #880b00,
  500: #880b00,
  600: #880b00,
  700: #880b00,
  800: #880b00,
  900: #880b00,
  A100: #880b00,
  A200: #880b00,
  A400: #880b00,
  A700: #880b00,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mountrash-admin-scss-primary: mat-palette($mountrash-red);
$mountrash-admin-scss-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mountrash-admin-scss-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$mountrash-admin-scss-theme: mat-light-theme(
  $mountrash-admin-scss-primary,
  $mountrash-admin-scss-accent,
  $mountrash-admin-scss-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($mountrash-admin-scss-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "./assets/styles/_main.scss";

.table-container {
  margin-top: 3rem;

  .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 25%;
    .key {
      font-weight: bold;
      padding: 1rem;
    }
  }

  .table {
    margin-left: 1rem;
  }
}

.action-btn {
  border: 1px solid #880b00;
}
.cancel-btn {
  background-color: white;
  color: #880b00;
  border: 1px solid #880b00;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.cancel-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.header-action {
  display: flex;
  justify-content: flex-end;
}
.input-file {
  background-color: white;
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  min-width: 350px;
  margin: 0px;
}
