a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  color: black;
  min-height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before {
  content: "";
  content: none;
}
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: Mina;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Mina/Mina-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Mina;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/Mina/Mina-Bold.ttf") format("truetype");
}
.attachment-container {
  margin-bottom: 2rem;
}
.attachment-container > .title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.attachment-container > .attachment {
  padding-top: 1rem;
  font-weight: bold;
}
.attachment-container > .attachment-input {
  padding-top: 0.5rem;
}
.attachment-container > .attachment-box {
  padding-top: 0.5rem;
}
.partner-layout {
  background-color: #f2f2f2;
  color: black;
  display: -ms-grid;
  display: grid;
  font-family: Mina;
  padding: 0 !important;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}
.partner-layout .sidebar-container {
  background-color: #005a51 !important;
}
.partner-layout .user-container {
  background: #009688 !important;
}
.partner-layout .action-btn {
  background-color: #009688 !important;
}
.partner-layout .action-btn--option {
  background-color: rgba(0, 150, 136, 0.7);
}
.admin-layout {
  background-color: #f2f2f2;
  color: black;
  display: -ms-grid;
  display: grid;
  font-family: Mina;
  padding: 0 !important;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}
.admin-layout .sidebar-container {
  background-color: #4d0600 !important;
}
.admin-layout .action-btn {
  background-color: #880b00 !important;
}
.admin-layout .action-btn--option {
  background-color: rgba(136, 11, 0, 0.7);
}
.admin-layout .date-selector,
.admin-layout .location-selector,
.admin-layout .user-container {
  background: #880b00 !important;
}
.auth-layout {
  background-color: #f2f2f2;
  color: white;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Mina;
}
.auth-container {
  max-width: 450px;
}
.auth-container__logo {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.auth-container__box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: #000000;
  padding: 1.5rem 50px;
  text-align: center;
  opacity: 0.8;
}
.auth-container__box > .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.auth-container__box > .message {
  padding-bottom: 1.5rem;
}
.auth-container__box > hr {
  color: #707070;
  opacity: 0.1;
  margin: 1.5rem 0;
}
.auth-container__box .input-container > .textbox {
  text-align: center;
}
.auth-container__box .input-container > .forget-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.auth-container__box .action-btn {
  width: 100%;
  border-radius: 10px;
  padding: 0.6rem;
  font-size: 1rem;
  font-family: Mina;
  background-color: #009688;
  color: white;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}
.auth-container__box .action-btn--option {
  background-color: rgba(0, 0, 0, 0.7);
}
.auth-container__box > .option-text {
  text-align: left;
}
.auth-container__box > .option-text > a {
  text-decoration: underline;
}
.auth-container__box > .title-secondary {
  font-weight: bold;
  margin: 1rem 0;
}
.auth-container__box > .ext-logo-container .ext-logo {
  max-width: 25px;
  max-height: 25px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10rem;
  padding: 0.3rem;
  margin: 0 0.5rem;
}
.auth-container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.auth-container__footer > .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.auth-container__footer > .menu-container > .menu {
  padding: 0 0 0 1.5rem;
}
.wallet-container__body .content-container,
.wallet-container__body .history-container {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  margin-top: 1rem;
  border-radius: 10px;
}
.wallet-container__body .content-container .title,
.wallet-container__body .history-container .title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.menu-layout .menu-container .menu,
.popup-layout .menu,
.wallet-container__body .content-container .menu,
.wallet-layout .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 100px;
  width: 100%;
}
.menu-layout .menu-container .menu > .icon-name,
.popup-layout .menu > .icon-name,
.wallet-container__body .content-container .menu > .icon-name,
.wallet-layout .menu > .icon-name {
  padding-top: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
}
.menu-layout .menu-container .menu > .icon,
.popup-layout .menu > .icon,
.wallet-container__body .content-container .menu > .icon,
.wallet-layout .menu > .icon {
  border-radius: 4rem;
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
}
.wallet-layout {
  background-color: #f2f2f2;
  color: white;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Mina;
}
.wallet-layout .menu > .icon {
  background-color: white;
}
.wallet-layout .menu > .icon-name {
  color: white;
}
.wallet-container {
  max-width: 450px;
}
.wallet-container .action-btn {
  background-color: #009688 !important;
}
.wallet-container .action-btn--option {
  background-color: rgba(0, 150, 136, 0.7);
}
.wallet-container__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wallet-container__header a {
  position: absolute;
  left: 0;
}
.wallet-container__header .material-icons {
  font-size: 40px;
}
.wallet-container__body > .menu-container {
  height: 170px;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#009688),
    to(#004b44)
  );
  background-image: -o-linear-gradient(#009688, #004b44);
  background-image: linear-gradient(#009688, #004b44);
  border-radius: 10px;
}
.wallet-container__body > .menu-container > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wallet-container__body > .menu-container > .header > .title {
  font-size: 1.5rem;
  font-weight: bold;
}
.wallet-container__body > .menu-container > .header > .balance {
  font-weight: bold;
}
.wallet-container__body > .menu-container > .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wallet-container__body .content-container {
  padding: 2rem;
}
.wallet-container__body .content-container .action-btn {
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  font-family: Mina;
  background-color: #009688;
  color: white;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wallet-container__body .content-container .action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.wallet-container__body .content-container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.75rem;
  padding-top: 1rem;
}
.wallet-container__body .content-container .footer > a {
  padding-left: 0.3rem;
}
.wallet-container__body .content-container .description {
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr;
  grid-template-columns: 1fr 10fr;
}
.wallet-container__body .content-container .description .note {
  font-weight: normal;
}
.wallet-container__body .content-container .bank-row {
  background: rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  border-radius: 10px;
  -ms-grid-columns: 4fr 1fr;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 1rem;
}
.wallet-container__body .content-container .bank-row > .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wallet-container__body .content-container .bank-row > .detail > .title {
  font-weight: bold;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
.wallet-container__body .content-container .bank-row > .detail > .owner {
  width: 50%;
}
.wallet-container__body .content-container .bank-row > .detail > .account {
  width: 50%;
}
.wallet-container__body .content-container .bank-row > .action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.wallet-container__body
  .content-container
  .bank-row
  > .action-container
  > .action-logo {
  cursor: pointer;
}
.wallet-container__body .history-container > .title {
  padding: 2rem 2rem 0 2rem;
}
.wallet-container__body .history-container > .history-row > .history-date {
  padding: 0.3rem 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}
.wallet-container__body .history-container > .history-row > .history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wallet-container__body .history-container > .history-row > .history > .label {
  padding-top: 1rem;
  padding-left: 2rem;
  font-weight: bold;
}
.wallet-container__body .history-container > .history-row > .history > .amount {
  padding-top: 1rem;
  padding-right: 2rem;
  font-weight: bold;
}
.wallet-container__body
  .history-container
  > .history-row
  > .history
  > .description {
  padding: 0.5rem 2rem;
  width: 100%;
  font-size: 0.75rem;
}
.wallet-container__body .history-container > .history-row > .history hr {
  width: 100%;
  opacity: 0.2;
}
.wallet-container__body .history-container > .history-date {
  background: rgba(0, 0, 0, 0.3);
}
.wallet-container__logo {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wallet-container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.wallet-container__footer > .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wallet-container__footer > .menu-container > .menu {
  padding: 0 0 0 1.5rem;
}
.menu-layout {
  position: absolute !important;
  top: 300px;
  font-family: Mina;
}
.menu-layout .mat-dialog-container {
  padding: 0px;
}
.menu-layout .menu-container {
  width: 450px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  border-radius: 10px;
  margin: auto;
}
.sidebar-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.sidebar-container__logo {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}
.sidebar-container > .user-container {
  background: #000000;
  padding: 1.5rem 2.5rem;
}
.sidebar-container > .user-container > .username {
  padding-bottom: 1.5rem;
}
.sidebar-container > .user-container > .role {
  opacity: 0.7;
}
.sidebar-container > .wallet {
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sidebar-container > .wallet > .title {
  font-weight: bold;
}
.sidebar-container > .menu-container {
  padding-top: 1rem;
}
.sidebar-container > .menu-container > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.8rem 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-family: Mina;
  font-size: 1rem;
}
.sidebar-container > .menu-container > .menu:hover {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.7);
}
.sidebar-container > .menu-container > .menu > .icon {
  max-width: 25px;
  max-height: 25px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10rem;
  padding: 0.3rem;
}
.sidebar-container > .menu-container > .menu > .icon-name {
  padding-left: 2rem;
  color: white;
}
.sidebar-container > .footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.sidebar-container > .footer-container > .version {
  margin: 0 2.5rem;
  padding: 1rem 0;
}
.sidebar-container > .footer-container > .language-selector {
  margin: 0 2.5rem;
}
.portal-layout {
  background-color: #f2f2f2;
  color: black;
  display: -ms-grid;
  display: grid;
  font-family: Mina;
  padding: 0 !important;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}
.chat-page .header-container,
.page-container .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.chat-page .header-container > .title,
.page-container .flex-kv-container .header-container > .title,
.page-container .header-container > .title,
.page-container .io-indicator-container .header-container > .title,
.page-container .page-detail-container .header-container > .title,
.page-container .table-container .header-container > .title {
  font-weight: bold;
}
.chat-page .header-container > .action-btn-container,
.page-container .flex-kv-container .header-container > .action-btn-container,
.page-container .header-container > .action-btn-container,
.page-container
  .io-indicator-container
  .header-container
  > .action-btn-container,
.page-container
  .page-detail-container
  .header-container
  > .action-btn-container,
.page-container .table-container .header-container > .action-btn-container {
  margin-left: 3rem;
}
.page-container {
  padding: 4rem;
}
.page-container .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.page-container .header-container > .title {
  font-size: 2rem;
}
.page-container .header-container > .timestamp {
  padding-left: 3rem;
}
.page-container .header-container > .source {
  width: 100%;
  padding-top: 1rem;
}
.page-container .page-detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-container .page-detail-container .header-container {
  width: 100%;
}
.page-container .page-detail-container .header-container > .title {
  font-size: 1.5rem;
}
.page-container .page-detail-container .logo {
  max-width: 250px;
  max-height: 250px;
  border-radius: 300px;
  margin-right: 4rem;
  min-width: 250px;
  min-height: 250px;
}
.page-container .page-detail-container .logo:hover {
  opacity: 0.8;
  cursor: pointer;
}
.page-container .page-detail-container .logo img {
  margin: 0 auto;
}
.page-container .page-detail-container .logo input {
  display: none;
}
.page-container .page-detail-container .no-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.page-container .page-detail-container > .detail-container {
  padding: 1rem;
}
.page-container .page-detail-container > .detail-container > .detail {
  padding: 0.5rem 1.5rem;
  max-width: 500px;
}
.page-container .page-detail-container > .detail-container > .detail > .key {
  font-weight: bold;
  margin-bottom: 10px;
}
.page-container .page-detail-container > .detail-container > .detail > .value {
  opacity: 0.5;
}
.page-container
  .page-detail-container
  > .detail-container
  > .detail
  > .textbox {
  background-color: white;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
  min-width: 350px;
  margin: 0px !important;
}
.page-container
  .page-detail-container
  > .detail-container
  > .detail
  > .options {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.7rem 0;
  min-width: 350px;
  text-align: center;
}
.page-container .table-container {
  padding-bottom: 2rem;
}
.page-container .table-container > .header-container > .title {
  font-size: 1.5rem;
}
.page-container .table-container > .table {
  text-align: left;
}
.page-container .table-container > .table th {
  font-weight: bold;
  padding: 1rem 3rem 1rem 0;
}
.page-container .table-container > .table td {
  padding: 0.5rem 2rem 0.5rem 0;
}
.page-container .table-container > .table td img {
  max-width: 25px;
  max-height: 25px;
}
.page-container .table-container > .table td.center {
  text-align: center;
}
.page-container .table-container > .table td input {
  border-radius: 1rem;
}
.page-container .table-container > .table td.debit {
  color: rgba(0, 150, 136, 0.7);
}
.page-container .table-container > .table td.credit {
  color: rgba(255, 0, 0, 0.7);
}
.page-container .table-container > .table tfoot {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
.page-container .flex-kv-container {
  padding-bottom: 2rem;
}
.page-container .flex-kv-container > .header-container > .title {
  font-size: 1.5rem;
}
.page-container .flex-kv-container > .flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.5rem;
}
.page-container .flex-kv-container > .flex-container > .flex-col {
  width: 50%;
}
.page-container .flex-kv-container > .flex-container > .flex-col > .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0.5rem 0.5rem 0rem;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-container .flex-kv-container > .flex-container > .flex-col > .row > .key {
  font-weight: bold;
}
.page-container
  .flex-kv-container
  > .flex-container
  > .flex-col
  > .row
  > .value {
  padding-right: 3rem;
}
.page-container .io-indicator-container {
  padding-bottom: 2rem;
}
.page-container .io-indicator-container > .header-container > .title {
  font-size: 1.5rem;
}
.page-container .io-indicator-container > .container {
  margin-top: 1rem;
}
.page-container .io-indicator-container > .container > .row {
  display: -ms-grid;
  display: grid;
  padding: 1rem 0.5rem 0.5rem 0rem;
  width: 100%;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}
.page-container .io-indicator-container > .container > .row > .key {
  font-weight: bold;
}
.page-container .io-indicator-container > .container > .row > .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.page-container .io-indicator-container > .container > .row > .value {
  padding: 0 3rem;
}
.pin-layout {
  max-width: 350px !important;
}
.pin-container {
  padding-bottom: 2rem;
}
.pin-container > .textbox-container {
  margin-top: 4rem;
}
.pin-container > .textbox-container > .textbox > input {
  letter-spacing: 40px;
  width: 360px;
  border: none;
  margin-left: 17px;
  background: none;
  font-size: 2rem;
}
.pin-container > .textbox-container > .textbox > .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pin-container > .textbox-container > .textbox > .line > hr {
  width: 35px;
}
.pin-container > .button-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 2rem;
}
.pin-container > .button-container > :first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.pin-container > .button-container > :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.pin-container > .button-container > :nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.pin-container > .button-container > :nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.pin-container > .button-container > :nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.pin-container > .button-container > :nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.pin-container > .button-container > :nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.pin-container > .button-container > :nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.pin-container > .button-container > :nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.pin-container > .button-container > :nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.pin-container > .button-container > :nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.pin-container > .button-container > :nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.pin-container > .button-container > .numkey {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem;
}
.popup-layout {
  background: white;
  max-width: 1000px;
  border-radius: 10px;
  margin: auto;
  margin-top: 5rem;
  font-family: Mina;
  padding: 1.5rem;
  position: relative !important;
}
.popup-layout .mat-dialog-container {
  padding: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popup-layout .title {
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.popup-layout .sub-title {
  padding-top: 1rem;
  text-align: center;
}
.popup-layout .full-action-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #009688;
  color: white;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.error-layout {
  background-color: #f2f2f2;
  color: white;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Mina;
}
.error-container {
  max-width: 450px;
}
.error-container__logo {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error-container__box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  color: #000000;
  padding: 1.5rem 50px;
  text-align: center;
  opacity: 0.8;
}
.error-container__box > .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.error-container__box > .description {
  margin-top: 2rem;
}
.error-container__box > .description > .text {
  margin-top: 0.5rem;
}
.validation-errors {
  background: #d63130;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.validation-errors > .validation-message {
  padding: 0.5rem;
}
.mini-chart__container,
.table-chart__container {
  margin: 5px;
}
.mini-chart__header,
.table-chart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mini-chart__title,
.table-chart__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.chart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.action-btn {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.action-btn:hover {
  opacity: 0.7;
  background-color: rgba(0, 0, 0, 0.7);
}
.layout {
  padding: 1rem;
}
a {
  color: #009688;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  opacity: 0.7;
  color: rgba(0, 150, 136, 0.7);
}
.input-container > .textbox {
  background-color: white;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  min-width: 100%;
  margin: 1rem 0;
  padding: 0.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.input-container > .textbox > input {
  margin: 0 1rem;
  font-size: 1rem;
  border: none;
  width: 100%;
  border: none;
}
.input-container > .textbox > textarea {
  border: none;
}
.input-container > .selector {
  margin: 0;
  padding: 0.8rem 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 100%;
}
.date-selector {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: #009688;
  color: white;
}
.location-selector {
  padding: 0.2rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: #009688;
  color: white;
  opacity: 1;
}
select {
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-family: Mina;
  opacity: 0.7;
  padding: 0 1rem;
}
.text-error {
  font-size: 12px;
  color: rgba(255, 0, 0, 0.7);
  width: 100%;
  text-align: start;
  margin-bottom: 1rem;
}
.text-error-summary {
  color: rgba(255, 0, 0, 0.7);
  width: 100%;
  margin-bottom: 2rem;
}
router-outlet {
  display: none;
}
table {
  width: 100%;
}
.chat-page {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}
.chat-page > .header-container {
  background-color: rgba(0, 0, 0, 0.7);
}
.chat-page > .header-container > .user {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.chat-page > .header-container > .user > .icon {
  max-width: 25px;
  max-height: 25px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10rem;
  padding: 0.3rem;
  margin: 0 2rem 0 0;
}
.chat-page > .header-container > .user > .name {
  font-size: 1rem;
  color: white;
}
.chat-page > .chat-container {
  margin-bottom: 70px;
  background-color: #e5ddd5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.chat-page > .chat-container > .chat-receiver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.chat-page > .chat-container > .chat-receiver > .tail-container {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC);
  width: 20px;
  height: 20px;
}
.chat-page > .chat-container > .chat-receiver > .chatbox {
  background-color: white;
  border-top-left-radius: 0;
}
.chat-page > .chat-container > .chat-sender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.chat-page > .chat-container > .chat-sender > .tail-container {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADAUExURUxpcXmHa4maet/4yA0aDRMTE8fhsgAAAAAAAMDXrCsxJeX/z1xzXIiYetPsvGBsVUdPPuH8zOH8zNDrvMvmtrrOpwAAAAAAABUVFRoaGtnyxLTMozQ+MMfftFBeSR8nH5aoh6q/mW9+ZN/4yMjhtRwlHAAAAIOWd+r/06C1kkNLOwsLC9z4xur/0+n/0t76x9v4xeL9y+b/z+j/0d/7yeH8yuX/zeD8ytz5xt76yOP/zeH+y+b/zuD8yd35xuf/0MY9jkkAAAAsdFJOUwBvd/ATDZIBAsMp/At/11c9yPbizHoICQwT4bY1ykkgjahl6s8bBYT6nUAWOLbtFAAAAIhJREFUKM/tzbUWwlAURNFBE9zdg0NecLf//yvKUJyUdDnl7HXXletXqmXl9wPbQ9JCcC+VJsOj2mDwovzj3osjHGNFEVxNRAj7UR1hlx+I4FbuC8HkZBE8OwnRxamdFsEmUxCCGdoI51RLBK9xVwTvjyMEbzlDMJMp7lqseNc8YNc6CGyF/a0vcmwhZbCG+kEAAAAASUVORK5CYII=);
  width: 20px;
  height: 20px;
}
.chat-page > .chat-container > .chat-sender > .chatbox {
  background-color: #dcf8c6;
  border-top-right-radius: 0;
}
.chat-page > .chat-container .chatbox {
  color: black;
  border-radius: 10px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}
.chat-page > .chat-container .chatbox .message {
  max-width: 80%;
}
.chat-page > .chat-container .chatbox .timestamp {
  font-size: 0.8rem;
  padding-left: 2rem;
}
.chat-page > .footer-container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
}
.chat-page > .footer-container > input {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  min-width: 350px;
  margin: 1rem;
  width: 80%;
}
.mat-expansion-panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.advanced-pie-legend
  .legend-items-container
  .legend-items
  .legend-item
  .item-label {
  margin-top: 0 !important;
}
.advanced-pie-legend .legend-items-container .legend-items {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
